.pl {
    width: 100%;
}

.pl-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.pl-title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5%;
    margin-top: 13rem;
}

.pl-desc {
    margin: 20px 0;
    font-size: 1.2rem;
    margin-bottom: 6%;
}

.pl-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .pl {
        padding: 10px;
    }

    .pl-texts {
        width: 100%;
    }

    .pl-desc {
        display: none;
    }
}