 *{
    box-sizing: border-box;
}

.p-container {
    display: flex;
    justify-content: center;
}

.video {
    box-shadow: 0 0 15px 3px rgb(0 0 0 / 40%);
    width: 500px;
}

.p-box {
    display: flex;
    width: 50%;
    margin-bottom: 5%;
    align-items: center;
}

.p-content-box {
    flex-direction: column;
    margin-left: 5%;
}

.p-name {
    margin-bottom: 2%;
    font-weight: 600;
    font-size: 1.2rem;
}

a {
    width: 200px;
    padding: 20px 30px;
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
}
a:hover .wave {
    top: -120px;
}
a span {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}
a .wave {
    width: 200px;
    height: 200px;
    background-color: #560bad;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: -80px;
    transition: 0.4s;
}
a .wave::before, a .wave::after {
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}
a .wave::before {
    border-radius: 45%;
    background-color: rgba(20, 20, 20, 1);
    animation: wave 5s linear infinite;
}
a .wave::after {
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: wave 10s linear infinite;
}
@keyframes wave {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
   }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
   }
}


@media screen and (max-width:480px) {
    .p-box {
        display: flex;
        flex-direction: column;
    }
    .p-desc {
        display: none;
    }
    .p-name {
        text-align: center;
    }
}

@media screen and (max-width:900px) {
    .p-box {
        display: flex;
        flex-direction: column;
    }
    .p-content-box {
        margin: 10% 0;
    }
}





