.c {
    height: 100vh;
    position: relative;
}

.c-bg {
    background-color: #560bad;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    height: 100vh;
}

.c-wrapper {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

.c-left {
    flex: 1;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-title {
    font-size: 60px;
    width: 80%;
    color: white;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0;
    font-weight: 300;
}

.c-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.c-desc {
    font-weight: 200;
}

form {
    margin-top: 20px;
    text-align: center;
}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 2.5% 1%;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
}

textarea {
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
    width: 60%;
}

.c-button {
    border: none;
    padding: 15px;
    background-color: #560bad;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-top: 3%;
    font-size: 1.5rem;
    display: block;
    margin: auto;
}

@media screen and (max-width: 480px) {
    .c {
        margin-top: 10%;
    }

    .c-bg {
        background-color: #560bad;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 17% 51%, 0% 0%);
        height: 100vh;
    }

    .c-wrapper {
        flex-direction: column;
        padding: 0 50px ;
        padding-top: 25vh;
    }

    .c-title {
        font-size: 30px;
    }

    .c-info-item {
        margin: 20px 0;
        width: 100%;
    }

    .c-desc {
        display: none;
    }

    form {
        margin-top: 0;
    }

    input {
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }

    button {
        margin-top: 5%;
    }
}